@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.config {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: #fff;
}

.logout,
.delete {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.txt {
    display: flex;
    flex-direction: column;
}

.section {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 25px;
    height: 100%;
}

.title {
    width: auto;
    height: 100%;
    font-size: 17px;
    font-weight: 400;
}

.paragraph {
    text-indent: 25px;
    color: #ffffffc2;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.btns {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.btns div {
    width: 155px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 25px;
    cursor: pointer;
}

.btnLogout {
    background: #524DF5;
    box-shadow: -2px -5px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.desactive {
    background: #970808;
    box-shadow: -2px -5px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.btnDelete {
    border: 1px solid #970808;
}

@media (min-width: 200px) {
    @media (max-width: 550px) {

        .logout,
        .delete {
            justify-content: center;
            text-align: center;
        }

        .section {
            justify-content: center;
        }

        .icon {
            display: none;
        }

        .paragraph {
            text-indent: 0px;
        }

        .btns {
            width: 100%;
            justify-content: center;
        }

        .btns div {
            margin-left: 0px;
        }
    }
}