@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.backDrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.224);
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    z-index: 10;
}

.modal {
    width: 448px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
    background: #fff;
    z-index: 1;
}

.header {
    width: 100%;
    height: 57px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--blue-blue-01, #C6D6FF);
}

.innerHeader {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: var(--graygray-03, #7A7786);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.close {
    width: 34px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.body {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

.infos {
    width: 384px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.label {
    color: var(--blue-blue-05, #192494);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input {
    width: 100%;
    height: 48px;
    background: transparent;
    text-indent: 18px;
    border-radius: 32px;
    border: 1px solid var(--graygray-02, #C6C5CE);
    color: #7A7786;
}

.valueUser {
    margin: 14px 0px 5px 0px;
    color: #7A7786;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.valueKey{
    background-color: #3F73E3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    font-size: 18px;
    padding: 25px;
}

.btn {
    width: 384px;
    height: 48px;
    margin: 8px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    background: #71C638;
    cursor: pointer;
}

@media (min-width: 200px) {
    @media (max-width: 450px) {
        .modal,.btn, .infos{
            width: 95%;
        }
    }
}