@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.backDrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.224);
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    z-index: 10;
}

.modal {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #201F2C;
    border-radius: 10px;
    color: #fff;
}

.header,
.selectValue,
.valueSelected,
.payment {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.title {
    font-size: 17px;
    font-weight: 600;
}

.selectValue {
    height: auto;
    gap: 20px;
}

.subTitle {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.values {
    width: 100%;
    display: flex;
    gap: 1.5vw;
    overflow-x: scroll;
}

.coin {
    min-width: 75px;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    background-image: url('../../../assets/images/coins-credits.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.value {
    font-weight: 600;
    font-size: 15px;
    color: #000;
}

.payment {
    height: auto;
}

.cardPayment {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: inset 2px 2px 0px 0px #524DF5, inset -2px -2px 0px 0px #524DF5;
    cursor: pointer;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(82, 77, 245, 0.20);
}

.icon img {
    width: 35px;
    height: 35px;
}

.txtPayment {
    width: 60%;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.arrow {
    width: 40px;
    height: 40px;
}

.arrow img {
    width: 35px;
    height: 35px;
}