@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.backDrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.224);
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    z-index: 10;
}

.modal {
    width: 370px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    background: #fff;
    border-radius: 10px;
}

.modal div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 90%;
    height: 60px;
    background: red;
}

.title {
    font-size: 17px;
    font-weight: 600;
}

.selectValue {
    width: 90%;
    height: auto;
    background: blue;
}

.subTitle {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.coins{
    width: 100%;
    background: yellow;
}

.coin{
    width: 30px;
    height: 30px;
    background-image: url('../../../assets/images/coins.svg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}