.form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.getInformation {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    flex-wrap: wrap;
}

.info {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh 0vw;
}

.label {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input {
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: #2e2c3e;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-indent: 20px;
    font-weight: 400;
    transition: 200ms all;
}

.divBtn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm {
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #524DF5;
    box-shadow: -2px -5px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    cursor: pointer;
}