.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.error{
    width: 120px;
    height: 120px;
}

.title {
    width: 95%;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragraphs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.paragraph {
    width: 90%;
    color: var(--blue-blue-01, #C6D6FF);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.btn {
    width: 280px;
    height: 48px;
    border-radius: 33px;
    background: #71C638;
    color: var(--WHITE, #FFF);
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    border: none;
}