.container {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: #000;
    margin-top: 32px;
}

.betHistory {
    width: 95%;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: #FFF2A4;
}

.column,
.columnDark {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}

.columnDark {
    background: var(--YELLOW-01, #FFEC7A);
}

.title,
.data {
    color: var(--graygray-05, #33303E);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title {
    width: 30%;
    font-weight: 400;
}

.data {
    width: 65%;
}

.pagination {
    width: 95%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 45px;
}

.back,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: none;
    border: none;
}

.back {
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

.back img {
    width: 16px;
    height: 16px;
}

.totalPages,
.selectedPage {
    color: #3F73E3;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.selectedPage {
    color: #FFF;
    font-size: 17px;
}

.next {
    color: var(--blue-blue-02, #3F73E3);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}