.container {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: #000;
    margin-top: 32px;
}

.betHistory {
    width: 95%;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: #FFF2A4;
}

.column,
.columnDark {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}

.columnDark {
    background: var(--YELLOW-01, #FFEC7A);
}

.title,
.data {
    color: var(--graygray-05, #33303E);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title {
    width: 30%;
    font-weight: 400;
}

.data {
    width: 65%;
}