.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal,
.security,
.bank {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-bottom: 32px;
}

.personal,
.security {
    width: 500px;
    padding-bottom: 40px;
    border-bottom: 1px solid #3F73E3;
}

.title {
    color: var(--YELLOW-01, #FFEC7A);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.data {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.infos,
.infosVariant,
.infosCenter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.infosVariant {
    flex-direction: row;
    justify-content: space-between;
}

.infosCenter {
    text-align: center;
    align-items: center;
    gap: 6px;
}

.label,
.labelCenter {
    width: 100%;
    color: var(--blue-blue-01, #C6D6FF);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.labelCenter {
    width: 50%;
    text-align: left;
}

.input,
.inputVariant {
    width: 100%;
    height: 48px;
    border-radius: 32px;
    border: 1px solid var(--blue-blue-02, #3F73E3);
    background: var(--WHITE, #FFF);
    color: var(--graygray-03, #7A7786);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-indent: 18px;
}

.inputVariant {
    width: 50%;
}

.btn {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 33px;
    background: #71C638;
    margin: 20px 0px 87px 0px;
    cursor: pointer;
}

@media (min-width: 200px) {
    @media (max-width: 580px) {

        .personal,
        .security,
        .bank {
            width: 85%;
            gap: 20px;
        }
        .infosVariant{
            flex-direction: column;
        }
        .infosCenter{
            width: 100%;
            text-align: none;
            align-items: none;
        }
        .inputVariant, .labelCenter {
            width: 100%;
        }
    }
}