@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-bottom: 10vh;
    color: #fff;
}

.introduction {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 0vw;
    background: linear-gradient(0deg, #201F2C80 0%, #302E3F00 100%);
    box-shadow: 0px -2px 0px 0px #302e3f inset;
    border-radius: 5px;
}

.profile {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
}

.picture {
    width: 80px;
    height: 80px;
    background: linear-gradient(92deg, rgba(82, 77, 245, 0.80) 0.13%, rgba(154, 26, 255, 0.80) 93.6%);
    border: 1px solid #524DF5;
    border-radius: 50%;
}

.nameUser {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.btn {
    width: 150px;
}

.credits {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #FA8A00;
    box-shadow: -2px -5px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.content {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 2px 0px 0px #302e3f inset;
    border-radius: 5px;
    background: linear-gradient(0deg, #201F2C80 0%, #302E3F00 100%);
}

.selectPanes {
    position: relative;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 10px;
    border-bottom: 2px solid #302e3f;
    border-radius: 1px;
}

.tab{
    cursor: pointer;
}

.underline {
    position: absolute;
    bottom: 0;
    width: auto;
    height: 20px;
    border-radius: 1px;
    background: linear-gradient(92deg, rgba(82, 77, 245, 0.80) 0.13%, rgba(154, 26, 255, 0.80) 93.6%);
}

.panes{
    width: 95%;
    height: auto;
}