.header {
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

.main {
    display: grid;
    grid-template-areas:
        'menu header header header header header'
        'menu content content content content content'
        'footer footer footer footer footer footer';
    width: 100%;
}

.header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
}

.content {
    background-color: slateblue;
}

.footer {
    background-color: rgb(90, 184, 205);
}