.header { grid-area: header; }
.menu { grid-area: menu; }
.content { grid-area: content; }
.footer { grid-area: footer; }

.main {
    display: grid;
    grid-template-areas:
    'menu header header header header header'
    'menu content content content content content'
    'footer footer footer footer footer footer';
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.header header{

}

.menu {
    background-color: violet;
}

.content {
    background-color: slateblue;
}

.footer {
    background-color: rgb(90, 184, 205);
}