.header {
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

.main {
    display: grid;
    grid-template-areas:
        'menu header header header header header'
        'menu content content content content content'
        'footer footer footer footer footer footer';
    width: 100%;
    background-image: url("../assets/images/background.svg");
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 65vh;
    width: 90%;
    margin: 0 auto;
}

.pages{
    width: 100%;
    height: 95%;
    border-radius: 20px;
    background-color:#201F2C;
}

.footer {
    height: auto;
}