@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.backDrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.224);
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    z-index: 10;
}

.modal {
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-radius: 10px;
    background: #fff;
    color: gray;
    align-items: center;
}

.title{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.paragraph{
    width: 90%;
    text-align: center;
}

.btns{
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.btnCancel, .btnConfirm{
    width: 125px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #970808;
    box-shadow: -2px -5px 4px 0px rgba(0, 0, 0, 0.25) inset;
    cursor: pointer;
}

.btnConfirm{
    color: #970808;
    background: transparent;
    box-shadow: none;
    border: 2px solid #970808;
}

@media (min-width: 200px) {
    @media (max-width: 500px) {
        .modal{
            width: 300px;
            height: auto;
        }
        .title{
            font-size: 18px;
            padding: 5%;
        }
        .content{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }

        .btns{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 20px;
        }
    }
  }