.contentCard{
    background: #302E3F;
    padding: 3vh 0vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerContent{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topContent button{
    width: 145px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;
    background: transparent;
    border: 2px solid #cc1010;
    color: #cc1010;
    transition: all 200ms;
}

.topContent button:hover{
    border: none;
    background: #cc1010;
    color: white;
}

.topContent button:active{
    border: none;
    background: #cc1010;
    color: white;
}

.bottomContent{
    display: flex;
    justify-content: space-between;
}

.item span{
    color: rgba(255, 255, 255, 0.502)
}

@media (min-width: 200px) {
    @media (max-width: 500px) {
        .topContent{
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
        .bottomContent{
            flex-direction: column;
        }
    }
  }