@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.backDrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.224);
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    z-index: 10;
}

.modal {
    position: relative;
    width: 448px;
    height: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: #FFF;
    gap: 31px;
    color: #000;
    font-variant-numeric: lining-nums tabular-nums;
}

.close {
    position: absolute;
    top: 1.8vh;
    right: 1.8vw;
}

.intro {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.check{
    width: 112px;
    height: 112px;
}

.title {
    color: #71C638;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.value {
    color: var(--GRAY-GRAY-05, #4E4B59);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px 0px;
}

.paragraph {
    color: var(--GRAY-GRAY-02, #C6C5CE);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}