.card {
    width: 312px;
    height: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 16px;
    background: #FFF2A4;
    color: #000;
}

.txts {
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.innerTxts {
    width: 90%;
}

.title {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragraph {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content {
    width: 95%;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;
    border-radius: 16px;
    background: var(--YELLOW-01, #FFEC7A);
    padding: 24px 0px;
}

.innerContent {
    width: 90%;
    display: flex;
    gap: 10px;
}

.positionNumber,
.groupAnimal {
    color: #000;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
}

.positionNumber {
    font-weight: 700;
}

.groupAnimal {
    font-weight: 500;
}