@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    width: 90%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.picture {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-bottom: 2px solid #524df5;
}

.txt {
    width: auto;
    font-family: "Inter", sans-serif;
}

.hi {
    color: rgba(255, 255, 255, 0.73);
    font-size: 14px;
    font-weight: 400;
}

.userName {
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.noti img {
    width: 25px;
    height: 25px;
}

.links {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.credits {
    width: 90%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #FFD700;
    box-shadow: 3px 3px 0px 0px #FFAC33 inset, -3px -3px 0px 0px #FFAC33 inset;
    border-radius: 12px;
    color: #fff;
    font-weight: 700;
}

.titleCredits {
    width: 65%;
}

.section {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introSection {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 1.5px -2px 0px 0px #302e3f inset;
}

.icon {
    width: 15%;
}

.titleSection {
    width: 45%;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.dropdown {
    width: 90%;
    padding-bottom: 2vh;
}

.selected,
.default {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    color: #fff;
    text-decoration: none;
}

.selected {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(75px);
}

.icon {
    width: 25px;
    height: 100%;
}

.name {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}