.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.content {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
    border-radius: 16px;
    padding: 16px 0px;
    background: var(--blue-blue-03, #324AC9);
    cursor: pointer;
}

.new {
    width: 15px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newMessage {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FF2876;
}

.texts {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.title {
    color: var(--blue-blue-01, #C6D6FF);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragraph {
    color: var(--WHITE, #FFF);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.pagination {
    width: 85%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 45px;
}

.back,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: none;
    border: none;
}

.back {
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

.back img {
    width: 16px;
    height: 16px;
}

.totalPages,
.selectedPage {
    color: #3F73E3;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.selectedPage {
    color: #FFF;
    font-size: 17px;
}

.next {
    color: var(--blue-blue-02, #3F73E3);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}