@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.backDrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.224);
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    z-index: 10;
}

.modal {
    position: relative;
    width: 490px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #302E3F;
    border-radius: 10px;
    color: #fff;
}

.close,
.introduction,
.config,
.section,
.Divcolect,
.button {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.close {
    position: absolute;
    top: -3.5vh;
    right: -2vw;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid #201F2C;
    background: #302E3F;
    box-shadow: 0px -7px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.introduction {
    height: 50px;
}

.title {
    font-size: 19px;
    font-weight: 600;
}

.dataBonus {
    width: 90%;
    height: 65%;
    gap: 2vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: #524DF5 transparent;
}

.cardBonus {
    width: 95%;
    height: auto;
    padding: 2.5vh 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5vh;
    border-radius: 5px;
    border: 2px solid #524DF5;
    background: #534df553;
}

.titleBonus {
    width: 90%;
    font-size: 16px;
    font-weight: 600;
}

.content {
    width: 90%;
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.section {
    justify-content: flex-start;
    gap: 5vh;
    flex-wrap: wrap;
}

.xp,
.cashBack {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    font-family: "Inter", sans-serif;
}

.numberXp {
    font-size: 16px;
    color: #9A1AFF;
    font-weight: 600;
}

.icon {
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-size: 18px;
    color: #9A1AFF;
    font-weight: 400;
}

.Divcolect {
    justify-content: flex-start;
}

.colect {
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    background: #9A1AFF;
    box-shadow: -2px -5px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.button {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    background: #524DF5;
    box-shadow: -2px -5px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

@media (min-width: 200px) {
    @media (max-width: 550px) {
        .modal {
            width: 95%;
        }

        .colect {
            width: 100%;
        }
    }
}