@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.innerContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forms {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content {
    color: var(--BLUE-Blue-01, #C6D6FF);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.setpsForm {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titleInput {
    color: var(--primary-colors-white, #FFF);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.input {
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: none;
    outline: none;
    border-radius: 32px;
    border: 1px solid var(--BLUE-Blue-02, #3F73E3);
    background: var(--WHITE, #FFF);
    font-family: "Inter", sans-serif;
    text-indent: 20px;
    font-style: normal;
    font-weight: 400;
    color: var(--GRAY-GRAY-03, #7A7786);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input::placeholder {
    color: #6A748E;
    font-weight: 300;
}

.inputPassword {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.togglePasswordButton {
    height: 100%;
    position: absolute;
    top: 0;
    right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnSubmit {
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 33px;
    background: #71C638;
    font-size: 18px;
    margin-top: 4px;
    font-weight: 700;
    cursor: pointer;
}

@media (min-width: 200px) {
    @media (max-width: 400px) {
        .innerContainer {
            width: 90%;
        }
    }
}