.container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.slider {
    width: 800px;
    display: flex;
    overflow-x: auto;
    gap: 32px;
    scroll-behavior: smooth;
    padding-bottom: 38px;
    scrollbar-width: thin;
    scrollbar-color: #3F73E3 #192494;
}

.buttons {
    position: absolute;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.btns {
    width: 41px;
    height: 41px;
    background: #3F73E3;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
}

@media (min-width: 200px) {
    @media (max-width: 1000px) {
        .slider {
            width: 100%;
        }

        .buttons {
            width: 110%;
        }
    }
}