.container {
    width: 95%;
    gap: 32px;
    display: flex;
    flex-direction: column;
    margin: 69px 0px 45px 0px;
}

.containerExtracts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
}

.defaultExtracts {
    width: 100%;
    height: 56px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--blue-blue-03, #324AC9);
}

.icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 27px;
    height: 27px;
}

.content {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.title {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hours {
    color: var(--blue-blue-01, #C6D6FF);
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

.noExtracts {
    color: var(--YELLOW-01, #FFEC7A);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pagination {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.back,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: none;
    border: none;
}

.back {
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

.back img {
    width: 16px;
    height: 16px;
}

.totalPages,
.selectedPage {
    color: #3F73E3;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.selectedPage {
    color: #FFF;
    font-size: 17px;
}

.next {
    color: var(--blue-blue-02, #3F73E3);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


@media (min-width: 200px) {
    @media (max-width: 580px) {

        .container {
            width: 85%;
            margin: 20px 0px 40px 0px;
        }

        .defaultExtracts {
            height: 94px;
            border-radius: 16px;
        }

        .icon {
            width: 5%;
        }

        .content {
            width: 80%;
            flex-direction: column;
            gap: 8px;
            align-items: flex-start;
        }
    }
}