.icon {
    position: fixed;
    right: 5%;
    bottom: 5%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9;
    background: #201F2C;
    box-shadow: -2px -9px 4px 0px #302E3F inset;
}

#credits {
    border: 2px solid #FA8A00;
}


@media (min-width: 200px) {
    @media (max-width: 1000px) {
        .icon {
            bottom: 50%;
        }
    }
}