.container {
    width: 90%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
    border-radius: 20px;
    background: #201F2C;
    box-shadow: 2px -2px 0px 0px #302e3f inset, 0px 2px 0px 0px #302e3f inset
}

.introduction {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #FFF;
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.input {
    width: 500px;
    height: 60px;
    display: flex;
    padding: 18px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #302E3F;
}

.search{
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
}

.accordion{
    width: 90%;
    height: auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    background: #FFF;
}