.ct{
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
    border-radius: 20px;
    background: #201F2C;
    box-shadow: 2px -2px 0px 0px #ffffff63 inset, 0px 2px 0px 0px #ffffff63  inset
}

.introduction {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #FFF;
}

.title {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.input {
    width: 359px;
    height: 20px;
    display: flex;
    padding: 18px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #302E3F;
}

.search{
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
}

.topicos{
    width: 90%;
    height: 80%;
    /*background-color: brown;*/
    display: flex;
}

.esq{
    width: 50%;
    /*background-color: aquamarine;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:5%;
}

.titleLeft{
    width: 305px;
    height: 20px;
    display: flex;
    padding: 18px 20px;
    justify-content:space-between;
    align-items: center;
    border-radius: 20px;
    background: #302e3fc0;
    color: white;
}

.titleLeft:hover{
    background-color: #534df572;
}

.dir{
    width: 50%;
   /* background-color: chocolate;*/
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap:5%;
}


.titleRight{
    width: 305px;
    height: 20px;
    display: flex;
    padding: 18px 20px;
    justify-content:space-between;
    align-items: center;
    border-radius: 20px;
    background: #302e3fcf;
    color: white;
}

.titleRight:hover{
    background-color: #534df572;
}

.accordion{
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

@media  (min-width:200px) {
    @media  (max-width:767px) {

        .ct{
            width: 100%;
            height: 900px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .introduction {
            width: 90%;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 16px;
            color: #FFF;
        }
        
        .container {
            width: 95%;
            height: 650px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 55px;
            border-radius: 20px;
            background: #201F2C;
            box-shadow: 2px -2px 0px 0px #ffffff63 inset, 0px 2px 0px 0px #ffffff63  inset
        }
        .input {
            width:77%;
            height: 20px;
            display: flex;
            padding: 18px 20px;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: #302E3F;
        }

        .accordion{
            width: 90%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
        }
   
        
    } 
}
